<div class="container">
  <form (ngSubmit)="search()">
    <label class="label">Search by Username:</label>
      <div class="field has-addons">
        <div class="control has-icons-left is-expanded">
          <input name="username" class="input" type="text" placeholder="GitHub Username" [(ngModel)]="username">
          <span class="icon is-small is-left"><i class="fab fa-github"></i></span>
        </div>
        <div class="control"><button class="button is-link">Search</button></div>
        <div class="control"><button (click)="reset">Reset</button></div>
      </div>
  </form><br>

  <nav class="panel fadein" *ngIf="user">

    <!-- Basic Information Panel -->
    <p class="panel-heading">{{ user?.name }}</p>
    <div class="panel-block">
      <div class="columns">
        <div class="column is-one-third">
          <img class="image" src="{{ user?.avatar_url }}" alt="Profile Picture">
        </div>
        <div class="column">
          <div class="tags is-centered">
            <span class="tag is-link is-rounded">{{ user?.public_repos }} Public Repos</span>
            <span class="tag is-info is-rounded">{{ user?.public_gists }} Public Gists</span>
            <span class="tag is-success is-rounded">{{ user?.followers }} Followers</span>
            <span class="tag is-primary is-rounded">{{ user?.following }} Following</span>
          </div>
          <div class="list">
            <ul>
              <li>Name: {{user?.login }}</li>
              <li>From: {{user?.location}}</li>
              <li>Member since: {{ user?.created_at | date: 'shortDate' }}</li>

            </ul>

          </div>


        </div>
      </div>
    </div><br>

    <!-- Repository Details Panel -->
    <nav class="panel">
      <h1 class="panel-heading">Repos</h1>
      <div class="panel-block">
        <div class="columns">
          <div class="column">
            <div *ngFor="let repo of repos">
              <div class="columns">
                <div class="column is-three-quarters">
                  <h4 class="title is-4">
                    <a href="{{ repo.html_url }}" target="_blank">{{ repo.name }}</a>
                  </h4>
                  <p>{{ repo.description }}</p>
                </div>
                <div class="column">
                  <div class="tags is-centered">
                    <span class="tag is-link is-rounded">{{ repo.watchers }} Stars</span>
                    <span class="tag is-info is-rounded">{{ repo.forks }} Forks</span>
                  </div>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </nav>

</div>
